/* h1{
    color: red;
    margin-right: auto; 
} */

.item_habito{
    background-color: rgb(103, 222, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .item_habito_check{
    background-color: rgb(80, 196, 222);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

}
.boton_habito{
    /* margin: auto; */
    padding: 10px;
}
.elemento_lista{
    padding: 5px;
    list-style-type: none;
}
.titulo_habito{
  display: flex;
  justify-content: space-between;
  
    color: black;
    font-size: 18px;
    padding-left: 10px;
    width: 70%;
    height: 100%;

}
.titulo_habito_texto{
    color: black;
    font-size: 18px;
    padding-left: 10px;
    padding: 0;
    margin: 0;
}
.racha_habito_texto{
    color: rgb(45, 45, 45);
    font-size: 14px;
    padding-left: 10px;
    padding: 0;
    margin: 0;
}

.boton_config{
  height: 51px;
}

ul{
    padding-left: 0;
}




.columnas {
    display: flex;
    flex-wrap: wrap;
    height: 100vh; /* Ajusta esto a la altura que prefieras */
  }
  .columna1, .columna2 {
    height: 100%; /* Esto asegura que cada columna tenga una altura definida */
    overflow-y: auto; /* Esto habilita el scroll solo si es necesario */
  }
  .columna1 {
    width: 500px;
    
  }
  .columna2 {
    flex-grow: 1;
    
  }
  @media (max-width: 500px) {
    .columna2 {
      display: none;
    }
  }


  #formDiv {

    display: flex;
    flex-direction: column;
    /* width: 300px; */
    width: auto ;
    margin: 5%;
  
    /* margin: 0 auto; */
    /* background-color: #f2f2f2; */
    /* padding: 20px; */
    /* margin: auto; */
    /* border-radius: 8px; */
}

#formDiv h2 {
    text-align: center;
    color: #ffffff;
}

#formDiv label {
    /* display: block; */
    margin-top: 20px;
    color: #ffffff;
}

.imput_form {
    width: auto;
    /* padding-inline: 0; */
    padding: 10px;
    border-radius: 4px; 
    border: 1px solid #ddd;
}

#formDiv button {
    /* display: block; */
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#formDiv button:hover {
    background-color: #45a049;
}

.contenedor_formulario{
  margin: auto;

}

#titulo_habito{
  text-align: center;
  width: 100%;
}

.botones_superior{
  display: flex;
justify-content: space-between;
}

#boton_borrar{
  color: red;
}

#tareas_restantes{
  height: 40px;
  width: 40px;
  /* Utilizar un diseño Flexbox */
  display: flex;
  
  /* Centrar los elementos verticalmente */
  align-items: center;
  
  /* Centrar los elementos horizontalmente */
  justify-content: center;
  background-color: rgb(177, 70, 70);
  margin: 0;
}

.contenedor_datos_superior{
  display: flex;
  justify-content: space-between;
  height: 40px;

}